

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
   padding-top: 50px;
   padding-bottom: 20px;
}

/* Home page */
.jumbotron {
   background: url('/_assets/_charcade/charcade.jpg') no-repeat;
   background-size: cover;
}














