<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="hero"></div>

<div class="container-full text-only">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            Site 3 Fire Arts is a community group made up of volunteers from a variety of different backgrounds.
            Based out of Site 3 coLaboratory, a makerspace in downtown Toronto, we create interactive fire projects
            that bring together art, engineering, software programming, stagecraft and game design. Our goal?
            Encourage friendly competition and the ridiculous smack talking that goes along with it by creating new
            ways for participants to control fire beyond just pushing buttons.
        </div>
    </div>
</div>

<div class="parallax ssf-1"></div>

<div class="container-full text-only">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            The Project (2012 Burning Man Honourarium)
            <p>Super
                Street Fire is a live-action adaptation of Street Fighter 2 only with
                the fire of a thousands suns. Set on a real-life version of Ryu&#8217;s
                classic stage, Super Street Fire sees two brave fighters duke it out
                while wearing motion-sensing gloves that capture every throw from
                perfectly timed blocks to deadly hadoukens. With each attack, fire
                hurtles towards the opponent as they scramble to retaliate or succumb to
                fiery damage. Still remember combos? Good. The stronger the attack, the
                greater the spectacle. As the countdown clock winds down, punches are
                thrown, life is lost, and a victor is named.
            </p>
        </div>
    </div>
</div>

<div class="parallax ssf-2"></div>

<div class="container-full text-only">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            The Nerd Porn: Wearables
            <p>Similar
                to a Nintendo Wii-mote, the custom designed motion-sensing gloves
                contain intertial measurement units that capture a player&#8217;s
                actions. It then wirelessly sends this data to a game server that
                detects if those actions match one of the pre-trained game gestures. If
                the gesture is recognized, the game system gives feedback to the player
                by activating the flame effects.
            </p>
        </div>
    </div>
</div>

<div class="parallax ssf-3"></div>

<div class="container-full text-only">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            The Nerd Porn: Flame Effects
            <p>The
                32 flame effect heads are propane-fed devices that emit a column of
                fire high into the air. Flame effects are expressed as two rails of
                eight computer controlled flame effect heads, one rail for the right
                hand gestures and one for the left, as well as an outer ring of sixteen
                flame effects triggered by special combos or controlled by the Master of
                Games for crowd engagement. The game system is computer hardware and
                software with an Arduino microcontroller that interfaces with the flame
                effect head solenois to regulate both the intensity and duration of the
                flame.
            </p>
        </div>
    </div>
</div>

<div class="parallax rb-1"></div>

<div class="container-full text-only">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            The Project
            <p>What
                could possibly be better than Skee Ball? How about fire-erupting Skee
                Ball? Lovingly dubbed Riskee Ball, this reimagined arcade staple will
                blast fire from the central row of target holes and straight out the top
                when some serious celebrating is in order. Topped with rotating warning
                lights and air horns to signal special game modes, like sudden death
                eruption mode where points scored on one machine triggers flames on them
                all, this bank of ten modular machines are the perfect addition to any
                pyromaniac&#8217;s arcade. Play it at the Charcade, a 2013 Burning Man Honourarium project.
            </p>
        </div>
    </div>
</div>

<div class="parallax rb-2"></div>

<div class="container-full text-only">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            The Nerd Porn: Flame Effects
            <p>The
                flame effect control system is custom designed hardware that will
                activate the five flame effects on each machine. One large effect head
                will connect to two outlets on the top, and four flame effects will fire
                through the target holes. Feeding of the machine&#8217;s
                primary fuel line, a low pressure pilot system made of perforated
                copper pipe will circle each of the four central holes, so they glow
                with a constant ring of flame. The machines themselves will be
                constructed using formed aluminum, and the ramps will be made of
                aluminum sheet that can be rolled for easy transportation to our
                favourite dust city.
            </p>
        </div>
    </div>
</div>

<div class="parallax rb-3"></div>

<!--todo: the team -->
<div class="container-full text-only">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <h2>The Team</h2>
        </div>
    </div>
</div>

<div class="parallax"></div>

<!--todo: Last section -->
<div class="container-full text-only">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            Special Thanks to Our Fire-Loving Volunteers
            <p>Sometimes
                it was freezing cold. Sometimes it rained all over our precious circuit
                boards. Sometimes it was wickedly dusty. Many thanks to all of our
                awesome volunteers for saying, “fuck it” and showing up anyway. You know
                who you are.</p>
            <p>Interested in getting involved? <a href="mailto:info@site3firearts.ca">Send us an email</a></p>
        </div>
    </div>
</div>


<!--todo: footer -->
<footer>
    <p>Site 3 Fire Arts</p>
</footer>